*.set
*.isopen
*.bkp
VC4toMappView/Diagnosis/
VC4toMappView/Temp/Settings/austinj/Workspace.state
VC4toMappView/Temp/
VC4toMappView/Binaries/
__pycache__/
SourceCode/Functions/Visualization/
SourceCode/Functions/Visualization1/
SourceCode/Functions/ParentFolder/
